altair==4.1.0
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
backcall==0.2.0
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
decorator==4.4.2
entrypoints==0.3
folium==0.12.1
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
graphviz==0.14.2
haversine==2.3.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.2
Jane-Austen-s-books-films @ file:///C:/OP/miniproject/Jane_Austen_s_books_films-0.0.1-py3-none-any.whl
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.3
pandas==1.1.4
parso==0.7.1
pickleshare==0.7.5
polyline==1.4.0
prompt-toolkit==3.0.7
pycodestyle==2.6.0
Pygments==2.7.0
pylint==2.6.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
pywin32==228
pyzmq==19.0.2
ratelim==0.1.6
requests==2.25.1
six==1.15.0
tabulate==0.8.7
termcolor==1.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.26.3
vega-datasets==0.9.0
wcwidth==0.2.5
wrapt==1.12.1
